body, footer, div, ul, button, li, ol, section, article, nav, img, header, p, h1, h2, h3, h4, a, form, label, input {
  font: inherit;
  font-size: inherit;
  font-weight: 100;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  outline: 0;
  background-color: inherit;
  background: transparent;
  font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif
}

img {
  border-style: none;
  height: auto;
  overflow: hidden;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.fa-events-icons-ready {
  height: auto;
}

body {
  background-color: #f2f2f2;
  padding-bottom: 75px;
  color: #333;
}
