body, footer, div, ul, button, li, ol, section, article, nav, img, header, p, h1, h2, h3, h4, a, form, label, input {
  font: inherit;
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  outline: 0;
  background-color: inherit;
  background: transparent;
  font-family: "Tacoma", sans-serif;
}

img {
  border-style: none;
  height: auto;
  overflow: hidden;
}

ul {
  list-style: none;
}

.fa-events-icons-ready {
  height: auto;
}

body {
  background-color: #f2f2f2;
  color: #333;
}
