.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.audio-footer {
  position:fixed;
  bottom: 0px;
  z-index: 100;
}

.audio-container {
  width: 100%;
}

.player-controls {
  float: left;
}

.fa-play, .fa-pause {
  font-size: 16px;
}

.progress-bar {
  width: 20px;
  height: 20px;
  background-color: red;
}

.progress-circle {
  width: 10px;
  height: 20px;
  background-color: black;
}

.player-album-info  {
  width: 100px;
  float: right;
  text-align: center
}

.player-album-info img {
  width: 60px;
}

.player-album-info h2 {
  font-size: 14px;
}

.player-album-info h4 {
  font-size: 12px;
}
