
.new-comment-form {
  background-color: #f2f2f2;
  width: 100%;
  height: 55px;
  border-radius:  5%;
  display: flex;
  align-items: flex-start;
}

.new-comment-form img{
  height: 53px;
  width: 60px;
  border: 1px solid #E5E5E5;
  display: inline-block;
}

.comment-input {
  background-color: white;
  width: 90%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  flex-shrink: 5;
}

.submit-button {
  position: relative;
  left: 735px;
  bottom: 20px;
}
.new-comment-form label{

}
.comments-list img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comments-list {
}

.thumb {
  float:left;
}

.comments-list li{
  margin-bottom: 10px;
}

.comments-list li:first-child{
  margin-top: 10px;
}

.comments-list h2{
  color: #999;
}

.fa-comments {
  color: #999;
  display: inline;
}

.author-info {
  float: left;
  justify-content: space-around;
  border-top: 1px solid #EBEBEB;
  padding-top: 20px;
}

.author-desc-and-comments {
  display:flex;
  flex-direction: column;
}

.author-desc-and-comments > p{
  margin: 40px;
}

.comments-container {
  margin: 0 40px 40px 40px;
}


.comment-sub-content {
  display: flex;
  flex-direction: row;
}

.track-description {
  display: flex;
  align-items: center;
}

.comment-author-name {
  color: #999;
  margin-left: 50px;
  font-size: 14px;

}
.comment-content {
  display: flex;
  max-width: 800px;
  min-width: inherit;
  flex-direction: column;
  padding: 0 20px;
  margin: 20px 0;
  border-right: 1px solid #EBEBEB;
}
.comments-header {
  border-bottom: 1px solid #EBEBEB;
}

.comment-list-title {
  color: #999;
  font-size:14px;
  display: inline;
  line-height: 30px;
  margin-left: 5px;
}
.comment-body {
  margin-left: 50px;
  font-size: 14px;
}

/*No comments*/

.empty-comment {
  display: flex;
  margin-left: 35%;
  flex-direction: column;
  align-items: center;
  color: #999;
  font-weight: 100;
  padding-right: 20%;
  user-select: none;
}

.empty-comment-pic {
  background-image: url("https://s3.amazonaws.com/sound-byte-pro/assets/images/comment-box.png");
  height: 194px;
  width: 194px;
  color: #999;
}
.empty-comment h1 {
  font-size: 20px;
  color: #333;
  margin-top: 10px;
  font-weight: 100;
}

.empty-comment h2 {
  font-size: 18px;
  font-weight: 100;
  margin-top: 5px;

}
