.comments-container {
  position: relative;
  margin: 0, auto;
}

.new-comment-form {
  background-color: #f2f2f2;
  width: 100%;
  height: 55px;
  border-radius:  5%;
  display: flex;
  align-items: flex-start;
}

.new-comment-form img{
  height: 53px;
  width: 60px;
  border: 1px solid #E5E5E5;
  display: inline-block;
}

.comment-input {
  background-color: white;
  width: 90%;
  padding: 8px;
  margin: 10px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  flex-shrink: 5;
}

.submit-button {
  position: relative;
  left: 735px;
  bottom: 20px;
}
.new-comment-form label{

}
.comments-list img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comments-list {
}

.thumb {
  float:left;
}

.comments-list li{
  margin-left: 280px;
  margin-bottom: 10px;
}

.comments-list li:first-child{
  margin-top: 10px;
}

.comments-list h2{
  margin-left: 300px;
  color: #999;
}

.fa-comments {
  color: #999;
  display: inline;
}

.author-info {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #EBEBEB;
  padding-top: 20px;
  width: 100%;
}

.track-description {
  width: 60%;
}

.comment-author-name {
  color: #999;
  margin-left: 50px;
  font-size: 14px;

}
.comment-content {
  display: flex;
  max-width: 800px;
  min-width: inherit;
  flex-direction: column;
  padding: 20px;
}
.comments-header {
  margin-left: 280px;
  border-bottom: 1px solid #EBEBEB;

}

.comment-list-title {
  color: #999;
  font-size:14px;
  display: inline;
  line-height: 30px;
  margin-left: 5px;
}
.comment-body {
  margin-left: 50px;
  font-size: 14px;
}
