.header-container {
  background-color: #333;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  left: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1200px;
  min-width: 600px;
  flex: 1;
}

.header.loggedin {
  height: 50px;
}

/*.header-container .background-pic {
  background: transparent;
  background-image: url(https://hd.unsplash.com/photo-1420161900862-9a86fa1f5c79);
  width: 800px;
  background-size: cover;
  position: fixed;
}*/

.header-nav {
  border: none;
  display: flex;
  justify-content: flex-end;
  width: 50%;
  white-space: nowrap;
}

.header-logo {
 background: linear-gradient(#ff884c, #f50 60%, #f50 );
 display: flex;
 justify-content: space-around;
 text-align: center;
 vertical-align: middle;
 padding: 10px;
}

.logged-out-logo.this-one {
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  padding: 10px 5px;
}

.header-logo.loggedin {
  background: linear-gradient(#f70, #f30 60%, #f30 );
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
  height: 50px;
  padding: 0;
}

.logged-in-logo {
  color: #ccc;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  vertical-align: center;
  line-height: 20px;
  background-color: #333;
  position: absolute;
  padding: 15px 20px;
}

h3.loggedout.or {
  padding: 10px;
  margin-top: 10px;
  color: #ccc;
}

.login {
  border: 1px solid #ccc;
  border-radius: 5%;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
}

.login:hover {
  border: 1px solid white;
}

.createaccount {
  border-radius: 5%;
  color: #fff;
  background-color: #f50;
  padding: 10px 15px;
  margin: 10px;
}

 .body-container {
   display: flex;
   justify-content: center;
 }

 .content {
   background-color: #fff;
   max-width: 1200px;
   min-width: 600px;
   margin-left: 20px;
   margin-right: 20px;
   display: flex;
   flex: 1;
   position: relative;
   top: 50px;
 }


 .header-nav.loggedin {
   color: #ccc;
   font-weight: 400;
   display: flex;
   justify-content: flex-end;
   text-align: center;
 }

 .header-nav.loggedin > * {
   padding: 15px;
   cursor: pointer;
   line-height: 30px;
   padding: 10px 20px;
 }

 .header-nav.loggedin > *:hover {
   color: #fff;
 }

 .username {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .profile-thumb {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin-right: 10px;
 }

 .form-cancel {
   position: absolute;
   top: 0;
   right: 0;
   padding: 20px;
   display: inline;
   font-size: 25px;
 }

 .fa.fa-cloud{
   color: #F3F3F3;
   font-size: 40px;
   z-index: 500;
   padding: 0 10px;
 }

 .fa.fa-cloud.loggedin{
   padding: 5px 20px;
 }
