.header-container {
  background-color: #333;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header.logged-out {
  background: transparent;
  z-index: 1;
  border-left: 0;
  border-right: 0;
}

.header-container.logged-out {
  background: transparent;
  background-image: url(https://hd.unsplash.com/photo-1420161900862-9a86fa1f5c79);
  height: 1000px;
  background-size: contain;
}

.header-nav.loggedout {
    background: transparent;
    border: none;
}
.header .group {
  position: absolute;
  z-index: 4;
}

h3.loggedout.or {
  float: left;
  padding: 10px;
  margin-top: 10px;
}

h3.loggedout.or:hover {
  color: #ccc;
}

.login.this {
  border: 1px solid #ccc;
  border-radius: 5%;
  color: #fff;
  padding: 10px 15px;
  margin: 10px;
}

.createaccount.this {
  border-radius: 5%;
  color: #fff;
  background-color: #f50;
  padding: 10px 15px;
  margin: 10px;
}
.login:hover {
    border: 1px solid white;
}

 .body-container {
   position: relative;
   top: 51px;
 }

 .content {
   background-color: #fff;
   width: 1200px;
   margin: 0 auto;
   height: 100%;
 }

 .header {
 background-color: #2F2F2F;
 font-weight: bold;
 width: 1200px;
 margin: 0 auto;
 border-right: 1px solid grey;
 border-left: 1px solid grey;
 display: block;

 }

 .header-logo {
  background-color: #2F2F2F;
  float: left;
  padding-top: 5px;
  height: 100%;
 }

 .header-nav {
   background-color: #2F2F2F;
   float: right;
 }

 .header h3 {
   color: #ccc;
   padding: 10px 20px;
 }

 .logged-out-logo.this-one {
   font-size: 14px;
   letter-spacing: 1px;
   color: white;
   float: left;
   margin-left: 55px;
   background-color: #f50;
   top: 0;
   position: absolute;
   height: 23px;
   padding: 14px 20px;
   vertical-align: center;
   margin-top:10px;
 }

 .logged-in-logo.this-one {
   color: #ccc;
   padding: 10px 0;
   float: left;
   margin-left: 80px;
   border-radius: 5px;
 }

 .header-nav h3 {
   float: left;
   padding: 15px 20px;
   color: #ccc;
   font-weight: 400;
 }

 .header-nav .username {
   padding: 15px 20px 15px 5px;
 }

 .header-nav h3:hover {
   color: #fff;
 }

 .header-nav button {
   cursor: pointer;
 }

 .profile-thumb {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   float: left;
   margin-top: 10px;
 }

 .form-cancel {
   text-align: right;
 }

 .fa.fa-soundcloud{
   background-color: #f50;
   color: white;
   font-size: 51px;
   z-index: 500;
   float: left;
   position: absolute;
 }

  .fa.fa-soundcloud.loggedin{
    top: 0;
  }

  .fa.fa-soundcloud.loggedout{
    top: 10px;
  }

  .demo-login {
    
  }
