.header-container {
  background-color: #2F2F2F;
  width: 100%;
}

.header .group {
  position: absolute;
  z-index: 4;
}

 .content {
 }

 .header {
 background-color: #2F2F2F;
 font-weight: bold;
 width: 1000px;
 margin: 0 auto;
 border-right: 1px solid grey;
 border-left: 1px solid grey;
 display: block;
 }

 .header-logo {
   background-color: #2F2F2F;
   float: left;
 }

 .header-nav {
   background-color: #2F2F2F;
   float: right;
 }

 .header h2 {
   color: white;
   padding: 10px 20px;
 }

 .header-nav h4 {
   float:left;
   padding: 10px 20px;
   color: white;
   font-weight: 400;
 }

 .header-nav button {
   cursor: pointer;
 }
