.tracks-index-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}

.tracks-index-header {
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.tracks-index-list {
  display: flex;
  flex-direction: column;
}

.user-tracks{
  color: inherit;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content:flex-start;
  vertical-align: top;
  padding-left: 40px;
}

.user-tracks > span {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
}

.user-tracks i {
  margin: 0 15px 0 0;
}


.index-author-name {
  color: #666;
  font-size: 14px;
}

.index-author-name:hover{
  color: #333;
}

.index-track-title {
  color: #333;
  font-size: 18px;

}
