.tracks-index-container {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  min-width: inherit;
  flex: 1;
  margin: 20px 0;
}

.tracks-index-header {
  margin: 20px 40px;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.tracks-index-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 1px solid #eee;
}

.sidebar {
  min-width: 20px;
}



.user-tracks {
  color: inherit;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content:flex-start;
  vertical-align: top;
  margin: 0 40px;
}

.user-tracks span {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 40px;
  display: inline;
  flex: 1;
}

.user-tracks i {
  margin: 0 15px 0 0;
}

.track-play-toggle-controls {
  display: inline;
  float: left;
}

.index-author-name {
  color: #666;
  font-size: 14px;
}

.index-author-name:hover{
  color: #333;
}

.index-track-title {
  color: #333;
  font-size: 18px;

}
