

.header-background {
  width: 1000px;
  height: 250px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(150deg, #698CCF, #A4BAE5);
}

.profile-view {
  width: 1000px;
  margin: 0 auto;
}

.user-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background-size: contain;
  position: relative;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.profile-tracks-content {
  top: 100px;
  position: relative;
  margin: 0, auto;
  padding: 10px;
}

.profile-tracks-header {

}

.profile-tracks-list li {
  width: 250px;
  display: inline-block;
}

.album-cover {
  position: relative;
  width: 180px;
  margin: 0 auto;
}
