

.header-background {
  width: 1200px;
  height: 250px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(315deg, rgb(180, 199, 233) 0%, rgb(79, 111, 185) 100%);
}

.username-profile h4{
  display: inline;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  line-height: 37px;
  padding: 4px 7px;
  position: relative;
  z-index: 3;
  bottom: 150px;
  left: 300px;
}

.profile-view {
  width: 1200px;
  margin: 0 auto;
}

.user-profile-picture, .currentuser-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background-size: cover;
  position: relative;
  z-index: 2;
  top: 20px;
  left: 20px;
  overflow: hidden;
}

.profile-tracks-content {
  top: 100px;
  position: relative;
  margin: 0 auto;
  padding: 10px;
}

.profile-tracks-header {
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.profile-tracks-list {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 100px 60px 100px;
  background-color: white;
}

.profile-tracks-list li {
  width: 40%;
  display: inline-block;
  padding-left: 20px;

}

.album-cover {
  position: relative;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  float: left;
  padding: 20px 10px 10px 10px;
}

.user-profile-track-title{
  margin: 20px 0;
}
.user-tracks {
  margin: 0 auto;
}

.user-tracks .fa.fa-play-circle, .user-tracks .fa.fa-pause-circle {
  color: #F50;
  font-size: 40px;
  z-index: 20;
}

/*Edit Profile*/
.update-image-modal {
  position: fixed;
  z-index: 2000;
  top: 40%;
  left: 40%;
}

#picture-file {
  display: none;
}

.update-profile-pic {
  position: relative;
  z-index: 1000;
  cursor: pointer;
  background: rgba(255,255,255,.8);
  display: inline-block;
  width: 150px;
  padding: 5px;
  left: -160px;
  top: -30px;
  transition: opacity .2s linear;
  opacity: 0;
}


.currentuser-profile-picture {
  cursor: pointer;
}


.currentuser-profile-picture:hover + .update-profile-pic {
  transition: opacity .2s linear;
  opacity: 1;
}

.update-profile-pic:hover {
  opacity: 1;
}

.update-profile-pic h2 {
  cursor: pointer;
  white-space: nowrap;
  margin-left: 40px;
}

.image-preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

 .fa.fa-camera {
   float: left;
  color: black;
  font-size: 24px;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  display: inline;
}
