

.header-background {
  width: 1200px;
  height: 250px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(315deg, rgb(180, 199, 233) 0%, rgb(79, 111, 185) 100%);
}

.username-profile h4 {
  display: inline-block;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  line-height: 37px;
  padding: 4px 7px;
}

.username-profile {
  position: relative;
  z-index: 3;
  bottom: 150px;
  left: 300px;
}

.profile-view {
  width: 1200px;
  margin: 0 auto;
}

.user-profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background-size: contain;
  position: relative;
  z-index: 2;
  top: 20px;
  left: 20px;
}

.profile-tracks-content {
  top: 100px;
  position: relative;
  margin: 0, auto;
  padding: 10px;
}

.profile-tracks-header {

}

.profile-tracks-list li {
  width: 25%;
  display: inline-block;
}

.album-cover {
  position: relative;
  width: 180px;
  margin: 0 auto;
}
