
.session-form-container {
  width: 500px;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  
}

.session-form {

}

.session-form-container input {

}

.session-form-container footer {

}
