
.session-form-container {
  z-index: 300;
  position: relative;
  top: 100px;
}

.session-form {
  width: 400px;
  background-color: white;
  border: 1px solid gray;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 16px;
  padding: 40px;
}


.session-form-header{
  text-transform: capitalize;
  background-color: white;
}

.session-form-container input {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 7px;
  margin: 10px;
  width: 200px;
}


.session-form-cancel {
  text-align: right;
  padding: 10px;
}

.session-submit {
  background-color: #f50;
  color: white;
}
