
.session-form-container {
  z-index: 300;
  position: fixed;
  top: 25%;
  left: 30%;
}

.modal-enter {
  -webkit-animation: slidein 0.5s;
}

@-webkit-keyframes slidein {
  0% {
    margin-top: -100%;
  }
  70% {
    margin-top: 3%;
  }

  100%{
    margin-top: 0%;
  }
}

.session-form {
  width: 400px;
  background-color: white;
  border: 1px solid gray;
  text-align: center;
  font-size: 16px;
  padding: 40px;
}

.session-modal {
  background-color: #fff;
  z-index: 299;
  position: fixed;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0.5;
}

.session-form-header{
  text-transform: capitalize;
  background-color: white;
}

.session-form-container input {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 7px;
  margin: 10px;
  width: 200px;
}


.session-form-cancel {
  text-align: right;
  padding: 10px;
}

.session-submit {
  background-color: #f50;
  color: white;
  cursor: pointer;
}

.session-submit:hover, .demo-login:hover {
  background-color: rgba(255,72,0,.8);
}


.demo-login {
  border-radius: 5px;
  border: 0.5px solid grey;
  padding: 7px;
  margin: 30px 95px;
  width: 200px;
  background-color: #f50;
  color: white;
  text-align: center;
  cursor: pointer;

}
