.track-view {
  width: 1200px;
  margin: 0 auto;
}

.track-content {
  position: relative;
  top: -100px;
}

.track-header-background {
  width: 1200px;
  height: 350px;
  z-index: 1;
  position: absolute;
  margin: 0 auto;
  background: linear-gradient(135deg, rgb(170, 96, 85) 0%, rgb(78, 57, 88) 100%);
}

.track-profile-picture {
  width: 300px;
  height: 300px;
  background-size: contain;
  position: relative;
  z-index: 2;
  top: 25px;
  left: 850px;
}

.track-info > h3 {
  z-index: 3;
  display: inline-block;
  background-color: rgba(0,0,0,.8);
  color: #ccc;
  font-size: 16px;
  line-height: 23px;
  font-weight: 100;
  padding: 4px 7px;
  position: relative;
  bottom: 330px;
  left: 140px;
  margin: 0 0 5px 0;
}
.track-info > h2{
  z-index: 3;
  display: inline-block;
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  line-height: 37px;
  padding: 4px 7px;
  position: relative;
  bottom: 325px;
  left: 140px;
}

.audio-player-album-name {

}

.author-info {
   margin-left: 30px;
   margin-right: 300px;
   margin-top: 10px;
  border-top: 1px solid #EBEBEB;
  padding-top: 10px;
}

.author-display {
  float: left;
}

.author-display-name {
  margin-top: 5px;
  color: #333;
  text-align: center;
}

.author-info h2{
  text-align: center;
}

.author-info img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.track-description {
  margin-left: 200px;
  margin-top: 20px;
  width: 600px;
}

.track-play {
  z-index: 4;
}

.track-pause {
  z-index: 4;
}

.track-play-toggle {
  z-index: 50;
}

.track-play-toggle .fa.fa-play-circle, .track-play-toggle .fa.fa-pause-circle  {
  color: #F50;
  font-size: 90px;
  position: relative;
  bottom: 250px;
  left: 40px;
  z-index: 20;
}

.fa.fa-pause-circle:hover, .fa.fa-play-circle:hover {
  color: rgba(255,72,0,.8);
  cursor: pointer;
}
