<!DOCTYPE html>
<html>
<head>
  <title>SoundByte</title>
  <link rel='shortcut icon' href='https://s3.amazonaws.com/sound-byte-dev/users/images/000/000/001/original/favicon.png' type='image/png'/ >
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/fcfad951d0.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
